
/* current border color is dark gold: D9A826 */
/* Matching darker font color is 807000 */



BODY, LAYER, P, DIV, TABLE, TR, TD, TH {
font-size: 13px; 
font-family: times;
color: 000000;
}

.sserif {font-family: sans-serif; font-size: 12px}
.sseriftopics {font-family: sans-serif; font-size: 12px; color: 009933}
.sserifpink {font-family: sans-serif; font-size: 12px; color: C9765A}


.boxlite
{
color: 9933BB
}

P.box
{
color: 990099
}

.exp { font-size: 9px;}

.math {font-style: italic; }
.mathover {text-decoration: overline}


.black {
color: black}

.white {
color: white}

.magenta {
color: EE0088}

.orange {
color: D9A826}

.dkorange {
color: D50909}

b.green {
color: 009933
}



A {text-decoration:none;
font-size: 12px; 
font-family: Arial, Verdana, Helvetica, sans-serif;
color: 807000;
}


A:HOVER {text-decoration: underline;
	color: A99806 }


.purple {
font-size: 13px; 
color: purple
}

SUP, SUB {
font-size: 11px; 
}




.Small {
text-decoration:none;
font-size: 13px; 
font-family: Arial, Verdana, Helvetica, sans-serif;
color: black;
}

.SmallColor {
text-decoration:none;
font-size: 13px; 
font-family: Arial, Verdana, Helvetica, sans-serif;
color: 009933;
} 

.SmallOrange {
text-decoration:none;
font-size: 13px; 
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
}

A.Small {text-decoration:none;
font-size: 13px; 
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
}

A.Small:Hover {text-decoration: underline; color: FFA2A2 }



A.Medium {text-decoration:none;
font-size: 14px; 
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
}

A.Medium:Hover {text-decoration: underline; color: FFA2A2 }


.myh2 {
font-family: Times, times new roman; 
color: 000000;
font-size: 30px;
}

.myh2title {
font-family: Times, times new roman; 
color: 000000;
font-size: 44px;
}


.myh3 {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
font-style: italic;
font-size: 26px;
}

.myh3title {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
font-style: italic;
font-size: 36px;
}

.myh3green {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: 009933;
font-style: italic;
font-size: 26px;
}

.myh4 {
font-family: Times, times new roman; 
color: 000000;
font-size: 24px;
}
.myh5 {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
font-size: 20px;
}

.tableHeading {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
font-size: 14px;
}

.smtableHeading {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
font-size: 12px;
}

.welcome {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
font-size: 20px;
font-style: italic;
}

.topicHead {
font-family: Arial, Verdana, Helvetica, sans-serif;
color: D9A826;
font-size: 14px;
font-weight: bold;
}

#Current {
	z-index: 4;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbutton.gif);
      }


#Other0 {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbuttonoff.gif);
      }

#Other1 {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbuttonoff.gif);
      }

#Other2 {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbuttonoff.gif);
      }

#Other3 {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbuttonoff.gif);
      }

#Other4 {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbuttonoff.gif);
      }

#Other5 {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbuttonoff.gif);
      }

#Other6 {
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(nwelts/yellowbuttonoff.gif);
      }


#Line {
	width: 600px;


        background-repeat: repeat-x;
        background-position: center center;
        background-image: url(nwelts/yellowline.gif);
      }



/* *** input boxes */
.consoleline {
font-size: 12px;
font-family: Courier;
color: #400060;
 background-color: #FFAAFF;
 border: 1px solid #6633CC;
}


.myButtons {
font-size: 12px; 
font-family: Geneva, Helvetica;
color: 3A3A03;
font-family:'trebuchet ms',helvetica,sans-serif;
   background-image: url(../calcTutElts/goldbuttonbg.gif);
	border-bottom: 2px solid;
   	border-top: 1px solid;
	border-right: 2px solid;
   	border-left: 1px solid;
   border-top-color: #DDDD00;
   border-left-color: #DDDD00;
   border-right-color: #B0B000;
   border-bottom-color: #B0B000;
}

.myButtonsHov {
background-image: none;
background-color: #FFF380}
